<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div> --> 
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="" class="dropdown-item">Mugs</a>
                <a href="" class="dropdown-item">Plates</a>
                <a href="" class="dropdown-item">Vases</a>
                <a href="{% url 'shop' %}" class="dropdown-item">All Ceramics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="classes-workshops-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Classes &amp; Workshops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="classes-workshops-link">
                <a href="" class="dropdown-item">Classes</a>
                <a href="" class="dropdown-item">Workshops</a>
                <a href="" class="dropdown-item">All Classes &amp; Workshops</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="vouchers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Vouchers
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Classes</a>
                <a href="" class="dropdown-item">Shipping &amp; Returns</a>
                <a href="" class="dropdown-item"></a>
                <a href="" class="dropdown-item">All Specials</a>
            </div> -->
        </li>
    </ul>
</div>